$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

@font-face {
    font-family: 'FrederickatheGreat-Regular';
    src: url('../assets/fonts/FrederickatheGreat-Regular.ttf') format('truetype');
    font-display: swap;
  }
  $your-custom-font: 'FrederickatheGreat-Regular', 'PT Serif', serif;
