$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

@font-face {
    font-family: 'frederickathegreat-regular';
    src: url('../assets/fonts/frederickathegreat-regular.woff2') format('truetype');
    font-display: swap;
  }
  $your-custom-font: 'frederickathegreat-regular', 'PT Serif', serif;
  :root {
    --fa-font-solid: initial !important;
    --fa-font-regular: initial !important;
    --fa-font-brands: initial !important;
    --custom-font: 'frederickathegreat-regular', serif !important;
  }